In [1]:
#import semua yang kita butuhkan
from bs4 import BeautifulSoup as bs
from urllib.request import urlopen, Request
from mysql_database import MySqlDB
import pandas as pd

In [2]:
#siapkan semua parameter
user_agent = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.82 Safari/537.36"
headers = {
    'User-Agent': user_agent
}

alamat = "https://www.presidenri.go.id/"

In [3]:
#request- response
data_request = Request(alamat, headers=headers)
response = urlopen(data_request)

In [4]:
#masukkan dalam objek beautifulsoup
soup = bs(response, "html.parser")

In [5]:
#div, sidebar-latest-photo 
articles = soup.find("div", {"class":"sidebar-latest-photo"})

In [6]:
titles = articles.find_all("h3", {"class":"is-sr-only"})

In [7]:
print(titles)

[<h3 class="is-sr-only">Presiden Jokowi Hadiri Silaturahmi Nasional Asosiasi Pemerintah Desa Seluruh Indonesia (Apdesi) Tahun 2022</h3>, <h3 class="is-sr-only">Bertemu Presiden, Kepala Otorita IKN Jelaskan Tiga Aspek Penting Pembangunan IKN</h3>, <h3 class="is-sr-only">Presiden Dorong Peningkatan Pelaku UMKM dalam Ekosistem Digital</h3>, <h3 class="is-sr-only">Presiden Jokowi Terima Delegasi Islamic Development Bank</h3>, <h3 class="is-sr-only">Presiden Jokowi Jenguk Buya Syafii di Sleman</h3>]

In [8]:
list_title = [title.get_text().rstrip() for title in titles]

In [9]:
print(list_title)

['Presiden Jokowi Hadiri Silaturahmi Nasional Asosiasi Pemerintah Desa Seluruh Indonesia (Apdesi) Tahun 2022', 'Bertemu Presiden, Kepala Otorita IKN Jelaskan Tiga Aspek Penting Pembangunan IKN', 'Presiden Dorong Peningkatan Pelaku UMKM dalam Ekosistem Digital', 'Presiden Jokowi Terima Delegasi Islamic Development Bank', 'Presiden Jokowi Jenguk Buya Syafii di Sleman']

In [10]:
#menyimpan dalam sql
db = MySqlDB()
db.open_connection()
db.insert_titles(list_title)

Koneksi Gagal : 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (10061)
Penambahan Data Gagal : 'MySqlDB' object has no attribute 'db'

AttributeError: 'MySqlDB' object has no attribute 'db'

In [ ]:
#melihat data
db.search_all()

(1, 'Kunjungan Kerja Presiden RI ke Provinsi Bali')
(2, 'Presiden Jokowi Lanjutkan Kunjungan Kerja ke Kabupaten Belu')
(3, 'Dari Kota Kupang, Presiden Jokowi Bertolak Menuju Kabupaten Timor Tengah Selatan')
(4, 'Presiden Joko Widodo Resmikan Penataan Kawasan Kota Kupang')
(5, 'Bertolak ke NTT, Presiden Akan Tinjau Program Percepatan Penurunan Stunting')
(6, 'Rusia: Fase Pertama Operasi Militer di Ukraina Tuntas, Giliran Fokus Bebaskan Donbas')
(7, 'Rekap Hasil Swiss Open 2022: 5 Wakil Indonesia ke Semifinal, Potensi 2 Duel Merah Putih di Final')
(8, 'Target Penonton Langsung Formula E Menyusut, dari 50.000 Jadi 10.000')
(9, 'Potret Sirkuit Formula E di Lokasi Berlumpur Sebelum dan Sesudah Dilakukan Pembangunan')
(10, '66 Siswa Jatuh dari Jembatan Saat Menunggu Difoto dengan Drone, Kades: Jika 1 Orang Beratnya 50 Kg, Sudah 3 Ton')
(11, 'Link Live Streaming Argentina Vs Venezuela, Kickoff 06.30 WIB')
(12, 'Pengumuman! Pendaftaran Sayembara Bangunan IKN Nusantara Dibuka Mulai 28 Maret')
(13, 'Kisah Pak Guru Ribut, Jelaskan soal Kaum Sodom ke Murid SD, Videonya Viral dan Dipanggil Dinas')
(14, 'Klasemen Liga 1: Bali United Juara, Persebaya ke Zona Piala AFC')
(15, 'Warga yang Belum Vaksinasi Booster Masih Boleh Mudik Lebaran, Asalkanâ€¦')
(16, 'Presiden Jokowi Jenguk Buya Syafii di Sleman')
(17, 'Kunjungan Kerja Presiden RI ke Provinsi Bali')
(18, 'Presiden Jokowi Lanjutkan Kunjungan Kerja ke Kabupaten Belu')
(19, 'Dari Kota Kupang, Presiden Jokowi Bertolak Menuju Kabupaten Timor Tengah Selatan')
(20, 'Presiden Joko Widodo Resmikan Penataan Kawasan Kota Kupang')

In [ ]:
#tutup koneksi
db.close_connection()

In [ ]:
df = pd.DataFrame(list_title, columns=['title'])

In [ ]:
df

                                               title
0       Presiden Jokowi Jenguk Buya Syafii di Sleman
1       Kunjungan Kerja Presiden RI ke Provinsi Bali
2  Presiden Jokowi Lanjutkan Kunjungan Kerja ke K...
3  Dari Kota Kupang, Presiden Jokowi Bertolak Men...
4  Presiden Joko Widodo Resmikan Penataan Kawasan...

In [ ]:
df.to_csv("scrape_presiden.csv", index=False)